<div class="page-content">
    <h1 class="page-title">Chapters</h1>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <td>Platform</td>
          <td>Name</td>
          <td id="action-td">Action</td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let platform of result">
       	<tr *ngFor="let chapter of platform.chapters">
          <td>{{ platform.name }}</td>
          <td>{{ chapter.name }}</td>
          <td>
            <a class="btn btn-primary" [href]="'/admin/chapters/' + chapter.id + '/edit'">Edit</a>&nbsp;
            <button class="btn btn-danger" (click)="deleteChapter(chapter.id)">Delete</button>
          </td>
         </tr>
         </ng-container>
      </tbody>
    </table>
  </div>
