<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i id="page-logo" class="far fa-folder"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <!--<a rendered="#{loginBean.isAdmin}" value="Dashboard" outcome="/admin/home" class="nav-link active" aria-current="page"-->
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link active">Logout</a>
            <!--a rendered="#{loginBean.isAdmin}" value="Logout" action="#{loginBean.logout}" class="nav-link active" aria-current="page"-->
          <!--a rendered="#{not loginBean.isAdmin and registerBean.usersCount != 0}" value="Login" outcome="/admin/login" class="nav-link active" aria-current="page"-->
        </li>
        <li class="nav-item">
          <!--a rendered="#{registerBean.usersCount == 0}" value="Register" outcome="/admin/register" class="nav-link active" aria-current="page"-->
        </li>
      </ul>
    </div>
  </div>
</nav>
