<div class="page-content">
  <h1 class="page-title">Edit platform</h1>
  <form class="row g-3" id="form" (ngSubmit)="onSubmit()" [formGroup]="platformForm">
    <div class="col-auto">
      <input class="form-control" 
      formControlName="name"
      [ngClass]="{'form-control ': true,
        'is-invalid': errors.name
      }"
      >
      <div class="invalid-feedback">{{errors.name}}</div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
