<aside class="bd-sidebar">
  <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/admin/home" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Admin Dashboard</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" id="platforms-btn" data-bs-target="#platforms" aria-expanded="false">
          Platforms
        </button>
        <div class="collapse" id="platforms">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a id="show-platforms-link" routerLink="/admin/platforms" class="link-dark rounded">Show platforms</a></li>
            <li><a id="add-platform-link" routerLink="/admin/platforms/create" class="link-dark rounded">Add platform</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" id="add-chapter-btn" data-bs-target="#chapters" aria-expanded="false">
          Chapters
        </button>
        <div class="collapse" id="chapters">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a id="show-chapters-link" routerLink="/admin/chapters" class="link-dark rounded">Show chapters</a></li>
            <li><a id="add-chapters-link" routerLink="/admin/chapters/create" class="link-dark rounded">Add chapter</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</aside>
