<div class="page-content">
    <h1 class="page-title">Add chapter</h1>
    <form id="form-chapter" (ngSubmit)="onSubmit()" [formGroup]="chapterForm">
        Platform: <select class="mb-4" formControlName="platform">
            <option *ngFor="let platform of platforms" [value]="platform.id">{{ platform.name }}</option>
        </select>
        <div class="form-group mb-4">
            Name: <input type="text" formControlName="name">
        </div>
        <div style="max-width: 750px; margin-bottom: 10px;">
            <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>